<%- include('../../includes/head') %>

<%- include('../../includes/main-nav') %>

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900"><%= pageTitle %></h1>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <% if (orders.length) { %>
            <table class="min-w-full mb-4">
                <thead class="bg-white border-b">
                    <tr>
                        <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                            Date
                        </th>
                        <th scope="col" class="text-sm font-medium px-6 py-4 text-right">
                            Products amount
                        </th>
                        <th scope="col" class="text-sm font-medium px-6 py-4 text-right">
                            Total price
                        </th>
                    </tr>
                <tbody>
                    <% orders.map(( order, index ) => { %>
                        <tr class="<% if(index % 2) { %>bg-white <% } else { %>bg-gray-100<% } %> border-b">
                            <td class="text-sm font-light px-6 py-4 text-left">
                                <a href="/shop/orders/<%= order.id %>" class="text-gray-900 underline hover:text-gray-600 hover:no-underline">
                                    <%= order.createdAt.getDate() %>/<%= order.createdAt.getMonth() %>/<%= order.createdAt.getFullYear() %> <%= order.createdAt.getHours() %>:<%= order.createdAt.getMinutes() %>:<%= order.createdAt.getSeconds() %>
                                </a>
                            </td>
                            <td class="text-sm font-light px-6 py-4 text-right">
                                1
                            </td>
                            <td class="text-sm font-bold px-6 py-4 text-right">
                                111
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <p>Nothing is here</p>
            <% } %>
        </div>
    </div>
</main>

<%- include('../../includes/footer') %>
