<%- include('../_includes/head') %>

<%- include('../_includes/main-nav') %>

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900"><%= pageTitle %></h1>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <% if (product) { %>
            <div class="flex">
                <div class="flex-1 max-w-sm bg-white shadow-xl rounded p-4">
                    <div class="t-products__img-wrapper mb-4">
                        <img class="t-products__img" src="<%= product.imgUrl || 'https://cdn.pixabay.com/photo/2013/07/12/18/22/t-shirt-153370_960_720.png' %>" alt="<%= product.title %>"/>
                    </div>
                </div>
                <div class="t-products__content flex flex-1 ml-4">
                    <p class="text-gray-500 mb-4">
                        <%= product.description %>
                    </p>
                    <div class="t-products__actions flex justify-end items-center">
                        <p class="text-lg font-bold text-gray-800">
                            $<%= product.price %>
                        </p>
                        <div class="ml-4">
                            <%- include('../_includes/add-to-cart-btn', {id: product.id} ) %>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
                <p>Product doesn't exist</p>
            <% } %>
        </div>
    </div>
</main>

<%- include('../_includes/footer') %>
