<%- include('../../includes/head') %>

<%- include('../../includes/main-nav') %>

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
            <% if(editing) { %>
                <span style="color: green;"><%= product.title %></span> was updated
            <% } else { %>
                New product <span style="color: green;"><%= product.title %></span> is added
            <% } %>
        </h1>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <ul class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <li class="group relative">
                <%- include('../../includes/product-item', { product: product, isAdmin: true }) %>
            </li>
        </ul>
        <div class="px-4 py-6 sm:px-0">
            <p>Please check out <a href="/shop">our amazing catalog</a></p>
        </div>
    </div>
</main>

<%- include('../../includes/footer') %>
