<%- include('../../includes/head') %>

<%- include('../../includes/main-nav') %>

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900"><%= pageTitle %></h1>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <h2 class="font-sans text-xl text-gray-900 mb-4">You can add a new product here:</h2>
            <%- include('../../includes/product-form', { product: null, editing: editing })%>
            <h2 class="font-sans text-xl text-gray-900 mb-4">Products already added:</h2>
            <% if(products.length) {%>
                <p class="mb-4">You can edit any product here.</p>
                <ul class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <% products.map(product => { %>
                    <li class="group relative">
                        <%- include('../../includes/product-item', { product: product, isAdmin: true }) %>
                    </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p class="mb-4">No products so far</p>
            <% } %>
        </div>
    </div>

</main>

<%- include('../../includes/footer') %>
