<header>
    <nav>
        <ul>
            <li>
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">
                    Home page
                </a>
            </li>
            <li>
                <a class="<%= (path === '/shop' || path === 'shop/product') ? 'active' : '' %>" href="/shop">
                    Shop
                </a>
            </li>
            <li>
                <a class="<%= path === '/shop/cart' ? 'active' : '' %>" href="/shop/cart">
                    Cart
                </a>
            </li>
            <li>
                <a class="<%= path === '/shop/orders' ? 'active' : '' %>" href="/shop/orders">
                    Orders
                </a>
            </li>
            <li>
                <a class="<%= (path === '/admin' || path === '/admin/add-product') ? 'active' : '' %>" href="/admin">
                    Admin
                </a>
            </li>
            <li>
                <a class="<%= (path === '/users' || path === 'users/create-user') ? 'active' : '' %>" href="/users">
                    Users
                </a>
            </li>
        </ul>
    </nav>
</header>
