<%- include('../_includes/head') %>

<%- include('../_includes/main-nav') %>

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
            <%= pageTitle %>
        </h1>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <% if (users.length > 0) { %>
                <p class="mb-4">We have many great people here, just have a look!</p>
                <ol class="list-decimal list-inside mb-4">
                    <% for (let user of users) { %>
                        <li><a href="/users/<%= user._id %>"><%= user.name %></a></li>
                    <% } %>
                </ol>
            <% } else { %>
                <h2 class="font-sans text-xl text-gray-900 mb-4">No people here yet</h2>
            <% } %>
        </div>
    </div>
</main>

<%- include('../_includes/footer') %>
